#### .replace()

df['origin'].replace({'usa':'america'}, inplace=True)

<span style="color:red">alternativ: durch Wertzuweisung</span>

df.loc[(df['origin']=='usa') , ['origin']] = 'america'

#### .loc mit Bedingungen

# pandas loc und python attribute
df1.loc[df1.C==2, ['C']] = 8

# pandas loc und numPy
df1.loc[df1['C']==2,['C']] = 7

# pandas loc und pandas loc
df1.loc[df1.loc[:,'C']==2, ['C']] = 10

#pandas loc und Bedingung in numPy danach - so machen wir das aber nicht!
df1.loc[:,['C']][df1['C']==2] = 100

df1.iloc[(df1.iloc[:,0]==4) & (df1.iloc[:,1]==8), 2] = 8

df.loc[(df['origin']=='america') & (df['cylinders']>=8)]

df.loc[(df['origin']!='america') & (df['horsepower']>=120) & (df['weight']>3500)]

df.loc[((df["origin"]=='japan') | (df["origin"]=='europe')) & (df["weight"]>3500) & (df["horsepower"]>=120),:]

#belli sartlarla belli sütunlar

df.loc[(df["island"]=="Torgersen")&(df["sex"]=="Female"), ["island", "body_mass_g","sex"]]

df1.loc[df1['C']==4,['C']]

df1.iloc[(df1.iloc[:,0]==4) & (df1.iloc[:,1]==8), 2] = 8

#### .astype()

In [ ]:
# wir können ein object nicht direkt als int umwandeln  -->
# erst umwandeln in float und danach vom float zu int
# da astype kein inplace hat, müssen wir über die Wertzuweisung den Datentyp ändern

df_autos['Seats'] = df_autos['Seats'].astype('float')

df['model_year'] = df['model_year'].astype(str)    # 'U2' oder str  (object funktioniert nicht, da object ein                                                        # Pandas Dtype ist, und laut Doku ein Numpy dtype oder python                                                    # type vorliegen muss)
                                                   # object beinhaltet weiterhin die floats und wandelt diese                                                        # nicht in strings um

df_mpg['weight'] = df_mpg['weight'].astype(object)

df_mpg['weight'].dtype 

df_mpg.dtypes # ist zwar jetzt ein object, aber object ist wie eine liste in Python und enthält alle Datentypen
              # in dem object sind also weiterhin die Zahlen als integers enthalten --> es erfolgt keine Umwandlung in
              # strings

#### .isin() icinde mi

years = ['70','75','79','82']

df.loc[df['model_year'].isin(years)]

#### .rename

df.rename(columns={'bill_depth_mm': 'flipper_depth_mm'}, inplace=True)

#### .drop()

df.drop(axis=1, columns=["flipper_depth_mm","bill_length_mm"],inplace=True)

#### .drop() mit index

my_drop_list = df.loc[df["species"]=="Adelie",:].index #Ich finde die Indizes der Zeilen, die ich löschen möchte

df.drop(index=my_drop_list, inplace=True)

In [ ]:
#belli bir index numarasi ile silme

df_ecar_opti.drop(index=92, inplace=True)

#### .reset_index()

In [ ]:
df.reset_index(inplace=True)

#### .dropna()

# nur eine bestimmte Spalte

df1 = df['A'].dropna()

df2 = df.dropna(subset=['A'])

<span style="color:red">eksik degeri olan tüm SÜTUNLARI silme </span>

In [ ]:
df2 = df.dropna(axis=1) # tüm eksik degere sahip sütunlari siler

In [ ]:
df2 = df.dropna(axis=0) # tüm eksik degere sahip satirlari siler

dropna() löscht also ALLE Reihen/Spalten die auch nur EINEN fehlenden Wert haben komplett.

Das kann zum Verlust wertvoller Informationen führen.

Daher kann z.B. ausgewählt werden, ob ein bestimmter Anteil behalten werden soll.

# all - löscht nur die Spalten/Zeilen (abhängig von der axis), wenn diese komplett aus nan werten besteht

df3 = df.dropna(axis='columns', how='all')

df_without_col_allnan = df_nan.dropna(axis='index', how='all')

#### def null_values()

def null_values(x):
    a = x.isnull().sum()
    b = 100 * x.isnull().sum()/x.shape[0]
    nv = pd.concat([a, round(b,2)], axis=1).rename(columns={0:'Missing_Values', 1:'Percentage (%)'})
    return nv[nv.Missing_Values>0].sort_values('Missing_Values', ascending=False)

#### .crosstab()

pd.crosstab(df_autos['Seats'],df_autos['BodyStyle'])

pd.crosstab(df_autos['RapidCharge'], df_autos['FastCharge_KmH'].isnull())

#### .index von fehlende Werten

# önce bu sütundaki fehlende werte bul. 
# Sonra bunlarin indexlerine ulas
# bu indexleri sil

df.loc[df["sex"].isnull(),:]

nan_sex = df.loc[df["sex"].isnull(),:].index

df.drop(index=nan_sex , inplace=True)

#### WERTE AUFFÜLLEN

# wir füllen fehlende Werte pauschal mit 666

df1 = df.fillna(666)

#durch direkt Wertzuweisung

df_ecar.loc[(df_ecar['BodyStyle']=='Hatchback') & (df_ecar['Seats']=='?'), 'Seats'] = '5.0'

# for schleife ile

for element in frequencies:
    df_autos.loc[(df_autos['BodyStyle']==element[0]) & (df_autos['Seats'] == '?'), 'Seats'] = element[1]

# alternativ: schleife alternativ in einem rutsch (ermittlung der werte und ersetzung)

missing_types = df_ecar.loc[(df_ecar["Seats"]=='?'), "BodyStyle"].unique()

for style in missing_types:
    max_seats = df_ecar.loc[(df_ecar['BodyStyle']==style), 'Seats'].value_counts().idxmax()
    
    # alternativ: mit mode() 
    # max_seats = df_ecar.loc[(df_ecar['BodyStyle']==style), ['Seats']].mode().values
    
    df_ecar.loc[(df_ecar["Seats"]=='?') & (df_ecar['BodyStyle']==style),["Seats"]] = max_seats

##### mean ile doldurma

df_neu_mean = df_neu.replace(np.nan, df_neu.mean())  #beachte: Spaltenweise ersetzung

##### median ile doldurma

In [ ]:
#median degerini bulma 
df_ecar.loc[df_ecar['RapidCharge']=='Yes','FastCharge_KmH'].median()

df_neu_median = df_neu.replace(np.nan, df_neu.median()) 
df_neu_median

##### mode bulma ve mod ile doldurma

# ilk asama (Bodystyle nin sedan oldugu durumda Seats sütununun aldigi degerler)

df_autos.loc[(df_autos['BodyStyle']=='Sedan'), 'Seats'].value_counts()

# ikinci asama (Bodystyle nin sedan oldugu durumda Seats'in aldigi  en yüksek deger/mode)

df_autos.loc[(df_autos['BodyStyle']=='Sedan'), 'Seats'].value_counts().idxmax()

In [ ]:
Asagidaki kisimda farkli bir uygulamasi

In [ ]:
# once en fazla tekrar eden degeri yani modu bulalim ve onu bir degere atayalim
mode_df_spalte = df["PlugType"].value_counts().idxmax()

#daha sonra ilgili sütundaki herhangi bir degeri yeni degerle replace edelim

df_merge["PlugType"].replace({"missing_type":mode_plugtype}, inplace=True)

In [ ]:
for i in list_bs_un:
    tMask  = df_merge.BodyStyle ==i
    df_merge.loc[tMask,"Seats"] = df_merge.loc[tMask,"Seats"].value_counts().idxmax()
pd.unique(df_merge.Seats)

In [ ]:
types = df_autos.loc[(df_autos['Seats']=='?'), 'BodyStyle'].unique()

frequencies = []

for element in types:
    frequence = df_autos.loc[(df_autos['BodyStyle']==element), 'Seats'].value_counts().idxmax()
    frequencies.append((element,frequence))

#### sns_dataset

import seaborn as sns

df = sns.load_dataset('penguins')

#### sütunda sayi olmayan girislerin bulunmasi

ziffern =[f'{i}' for i in range(10)]
muster = '|'.join(ziffern)

mask = df.mpg.str.contains(muster)

df.loc[~mask,:]


~ haricleri al diye kullaniyoruz

#### sütunda sayi olmayanlari NaN yap

df["mpg"] = pd.to_numeric(df.mpg, errors='coerce')

print(f'Anzahl missing values: {df.mpg.isnull().sum()}')
print(f'Neuer Datentyp :{df.mpg.dtype}')

#### .cut() ve kategoriye ayirma

# df_titanic['bins'] = pd.cut(x=df_titanic['age'], bins=[0, 6, 18, 45,
                                          70, 110], labels=['<6', '7 - 18', '19 - 45',
                            '46 - 70', '71 - 100'])

kategorie = ["billig", "normal","teuer", "sehr teuer"]

max = df_autos["PriceEuro"].max()
percentile_25 = np.percentile(df_autos["PriceEuro"],25)
percentile_50 = np.percentile(df_autos["PriceEuro"],50)
percentile_75 = np.percentile(df_autos["PriceEuro"],75)

x = percentile_75 + 1.5 * (percentile_75-percentile_25)

bins = [0, percentile_25, percentile_50, x, max]

df_autos["PriceCat"] = pd.cut(df_autos["PriceEuro"], bins=bins, labels=kategorie)

#### .groupby()

df_hafen = df_titanic.groupby(["embark_town","who"],as_index=False).agg(anzahl=('who','size'))

df_sex = df_titanic.groupby(['sex']).size() # cinsiyete göre ANZAHL

df_who = df_titanic.groupby(["who"]).agg({'who':'size'})

#### .str .split()

In [ ]:
df_merge["Brand"] = df_merge["Brand"].str.lstrip(" ").str.rstrip(" ")  # leerzeichen löschen

#### sütun bazinda nunique() sayisi

In [ ]:
liste =df_merge.select_dtypes("object").columns

for spalte in liste:
    print(spalte, df_merge.loc[:,spalte].nunique())
    
print(i)

#### duplicated

df.loc[df['Model'].duplicated()==True,:]

#### Sütunlarin data tipi ve unique degerleri

In [ ]:
df_types = pd.concat([df.dtypes, df.nunique()], axis=1).rename(columns={0:"dtypes",1:"unique"})
df_types

#### Sütunlarin int, float, obj olarak data tiplerini gösteren liste

float_columns = []
int_columns = []
obj_columns = []

for i, elem in enumerate(df.dtypes):
    column = df.dtypes.index[i]  
    if elem=="float64":
        float_columns.append(column)
    if (elem =="int64") | (elem =="int32"):
        int_columns.append(column)
    if elem =="object":
        obj_columns.append(column)
    
obj_columns

#### speicherplatz reduzieren

In [ ]:
df.dtypes
df.species.nunique() 
df.memory_usage(deep=True)

#### sütundaki verilerin data tipinin integer olup olmadiginin kontrolü

In [ ]:
# önce tüm satirlarin gercekten integer olup olmadigi

for number in df_ecar['FastCharge_KmH']:
    if number %1 != 0:                        # ist der Restwert nicht Null, dann liegt ein float vor
        print('do not convert to integer')
print('finished')

#### float verinin integera cevrilmesi

df_ecar['FastCharge_KmH'] = pd.to_numeric(df_ecar['FastCharge_KmH'], downcast='integer')

#### csv'ye Kaydetme

In [ ]:
df_ecar_opti.to_csv('ecar_after_preprocessing.csv',sep=',')

#### Pickle a kaydetme

In [ ]:
df_ecar_opti.to_pickle('ecar_after_preprocessing.pkl')